.home-container{
    display: flex;
    flex-direction: column;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    color: white;
    align-items: flex-start ;
    justify-content: center ;
}
.home-h1{
    margin-left: 70px;
    font-size: 60px;
}
.home-btn{
    font-size: 20px;
    margin-top: 70px;
    margin-left: 70px;
    padding: 12px 40px;
    background-color: transparent;
    color: turquoise;
    border: 1px solid turquoise;
    cursor: pointer;
}
.home-btn:hover{
    background-color: turquoise;
    color: rgb(44, 44, 44);
    transition: all 1s ease-in-out ;
}

@media screen and (max-width: 700px) {
    .home-h1{
        margin-left: 35px;
        font-size: 30px;
    }   
    .home-btn{
        font-size: 10px;
        margin-top: 35px;
        margin-left: 34px;
        padding: 6px 20px;
    }
}