nav{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: auto;
    padding: 25px;
    height: 100vh;
    position: sticky;
    top: 0px;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40vh;
    list-style-type: none;
}
.nav-hr{
    width: 80px;
    border-bottom: 0px solid #000;
}
.nav-li{
    cursor: pointer;
    font-weight: bolder;
}
.nav-a{
    color: rgb(169, 169, 169);
    text-decoration: none;
}
.nav-a:hover{
    color: turquoise;
    transform: translateY(-3px);
    transition: all 1s 0s;
}